<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter Activité Personnelle</h4>
        <form class="form-sample">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Localisation</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>Choix Localisation</option>
                    <option>Rennes</option>
                    <option>Saint Malo</option>
                    <option>Paris</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Météo</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>choix méteo</option>
                    <option>Ensoleillé</option>
                    <option>Neige</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>